<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>794483813636-ab8nso1rd976d7tnlejda6hu39ten43l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.794483813636-ab8nso1rd976d7tnlejda6hu39ten43l</string>
	<key>API_KEY</key>
	<string>AIzaSyBiUYV-Ds0RueFeVC4s884rhx0J_E3hXBU</string>
	<key>GCM_SENDER_ID</key>
	<string>794483813636</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.vensemart.serviceprovider</string>
	<key>PROJECT_ID</key>
	<string>vensemartserviceprovider</string>
	<key>STORAGE_BUCKET</key>
	<string>vensemartserviceprovider.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:794483813636:ios:34444485761efa2a2df451</string>
</dict>
</plist>